/* Common styles for the header */
/* Cuando scrolleo debe quedar fija */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 9vh;
  box-shadow: -2px 4px 41px -15px rgba(0, 0, 0, 0.84);
  margin-right: 17px;
}

/* Logo container */
.logo {
  position: relative;
  height: 90%;
  width: 5%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

/* Logo image */
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Search container */
.search {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  max-width: 80%;
  border-left: solid 2px #dfdfdf;
  border-right: solid 2px #d4d0d0;
  color: #a8a8a8;
}

/* Search icon */
.biSearch {
  color: #a8a8a8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 7%;
}

/* Search input */
.searchInput {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.searchInput input {
  flex: 1;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
}

/* Favorites icon */
.favorites {
  display: flex;
  align-items: center;
  height: 100%;
  width: 10%;
  justify-content: center;
  color: #a8a8a8;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {

  /* Adjust the logo size to fit better on smaller screens */
  .logo {
    width: 15%;
  }

  /* Reduce the search icon and favorites icon size */
  .biSearch,
  .favorites {
    width: 8%;
    padding: 10px;
  }
}

@media screen and (max-width: 576px) {

  /* Hide the favorites icon on the smallest screens */
  .favorites {
    display: none;
  }

  /* Adjust the logo size to fit better on the smallest screens */
  .logo {
    width: 20%;
  }

  /* Reduce the search icon size on the smallest screens */
  .biSearch {
    width: 12%;
    padding: 8px;
  }
}