/* container ocupa lo mismo que el padre y esta en el centro de la pantalla*/
.container {
  display: flex;
  width: 95vw;
  height: 90vh;
  margin: auto;
}

/* cardDetail es un contenedor que ocupa la mitad izquierda de la pantalla */
.cardDetail{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

/* cardList es un contenedor que ocupa la mitad derecha de la pantalla */
.cardList{
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}