/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Card/Card.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__YWHGX{
  width: 256px;
  height: 380px;
  opacity: 1;
  border: solid 1px black;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/Home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.Home_container__YRaDf {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 7%;
  justify-content: center;
  /* Alinea las cartas al centro */
}


