/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./components/Card/Card.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__YWHGX {
  position: relative;
  width: 256px;
  height: 380px;
  opacity: 1;
  border: solid 1px black;
  overflow: hidden;
}

.Card_image__jl97Q {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Card_icon__acyD8 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 19px;
  opacity: 1;
}

.Card_title__6AhHr {
  position: absolute;
  bottom: 32px;
  left: 20px;
  width: 100%;
  height: 23px;
  text-align: left;
  font: normal normal bold 19px/23px SF UI Text;
  letter-spacing: -0.25px;
  color: #ffffff;
  opacity: 1;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/Home.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.Home_container__YRaDf {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 7%;
  justify-content: center;
  /* Alinea las cartas al centro */
}


